<%- include("template/cabecera") %>

<main>
    <h2 class="titulares">Basado en tu ultima visita</h2>
    <section class="ultima-visita">
        <article class="productos">
            <img src="/images/img-cafetera-moulinex.jpg" alt = "cafetera moulinex">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
            </div>
                <h3 class="descripciones">Cafetera Moulinex</h3>
        </article>
        <article class="productos">
            <img src="/images/img-macbook-pro-2019.jpg" alt = "MacBook">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
            </div>
            <h3 class="descripciones">MacBook Pro 2019</h3>
        </article>
        <article class="productos">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt = "Samsung Galaxy">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
            </div>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
        </article>
        <article class="productos">
            <img src="/images/img-tv-samsung-smart.jpg" alt = "SmartTv">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p> 
            </div>
                <h3 class="descripciones">SmartTv Samsung 43</h3>
        </article>
    </section>
    <h2 class="titulares">Sección de Ofertas</h2>
    <section class="ofertas">
        <article class="productos">
            <img src="/images/img-cafetera-moulinex.jpg" alt = "cafetera moulinex">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
            </div>
            <h3 class="descripciones">Cafetera Moulinex</h3>
        </article>
        <article class="productos">
            <img src="/images/img-macbook-pro-2019.jpg" alt = "MacBook">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class= "precio">$230.000</p>
                <p class="descuento">20% OFF</p>
            </div>
            <h3 class="descripciones">MacBook Pro 2019</h3> 
        </article>
        <article class="productos">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt = "Samsung Galaxy">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
            </div>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
        </article>
        <article class="productos">
            <img src="/images/img-tv-samsung-smart.jpg" alt = "SmartTv">
            <div class="contenido">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
            </div>
            <h3 class="descripciones">SmartTv Samsung 43</h3>
        </article>
    </section>
   </main>
   <%- include("template/footer") %>    
</body>
</html>