<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="cabecera">
            <img class="logo" src="/images/logo-mercado-liebre.svg">
            <p class="busqueda">Lugar para poner la barra de búsqueda <i class="fas fa-search"></i></p>
            <p class="cuotas"><i class="fas fa-shopping-cart"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    <nav class="navegacion">
        <ul class="navegacion-izq">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="navegacion-der">
            <li>
                <a href="/register">Crea tu cuenta</a>
                <i class="fas fa-address-card"></i>
            </li>
            <li>
                <a href="/login">Ingresa</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            <li>
                <a href="">Mis compras</a>
                <i class="fas fa-shopping-cart"></i>
            </li>
        </ul>
    </nav>
   </header>
   <div>
    <img src="/images/img-home-banner.jpg" alt = "Banner">
   </div>